@import "~bootstrap/scss/bootstrap"
@import "./fonts"
@import "./reset"

$enable-responsive-font-sizes: true

$accent: #EC1F46
$blue: #0A223D
$main-black: #333333
$white-bg: #F5FAFE

body
    font-family: 'Muli', sans-serif

h2

    font-weight: bold
    +rfs(36)
    line-height: 45px
    text-transform: uppercase
    color: $main-black

h3

    font-weight: bold
    +rfs(24)
    line-height: 45px
    text-transform: uppercase
    color: $main-black

h4
    font-weight: bold
    +rfs(18)
    line-height: 45px
    text-transform: uppercase
    color: $main-black

h5

    font-weight: bold
    +rfs(14)
    line-height: 45px
    text-transform: uppercase
    color: $main-black

p
    +rfs(12)
    color: $main-black
    line-height: 15px

.header
    padding: 24px 0
    background: #F5FAFE

    &__text
        +rfs(10)
        line-height: 13px

    &__icon
        margin-right: 20px

    &__propositions
        margin-right: 98px

        &:last-child
            margin-right: 0px


.search
    padding: 40px 0

    &__logo


    &__input
        width: 350px
        height: 40px
        border: 0px
        background: #F5FAFE
        border-radius: 6px
        padding-left: 23px

    &__btn
        background: url('../img/search.png') no-repeat center top / cover
        border-radius: 0px 6px 6px 0px
        width: 65px
        height: 40px

    &__img
        margin-right: 18px
        width: 40px
        height: 40px

.profile
    &__cart
        margin-right: 53px
    &__menu


select
    background: transparent
    outline: none
    border: none
    text-decoration: none
    width: 100px

select option
    color: $main-black

.nav
    padding: 31px 0
    background: $blue

    &__link
        & h5
            color: white


.main
    &__location
        margin: 18px 0
    &__star
        margin-right: 2px
        &:last-child
            margin-right: 0px
    &__header

    &__flash
        width: 70px
        height: 20px
        background: $accent
        border-radius: 3px
        +rfs(10)
        margin: auto 0
        margin-left: 14px

    &__text
        color: $white-bg
        text-align: center
        vertical-align: middle
        line-height: 20px
        +rfs(10)

    &__img
        margin-top: 20px

    &__info
        width: 350px
        height: 210px
        background: $blue
        margin-top: 20px
        border-radius: 8px

.rating
    background: $accent
    width: 65px
    height: 45px
    border-radius: 4px

    &__desc
        +rfs(8)
        color: $white-bg
        padding-top: 8px

    &__rate
        color: $white-bg
        margin-top: -14px


.info
    width: 350px
    height: 210px
    background: $blue
    border-radius: 8px
    margin-top: 20px

    &__price
        padding-left: 26px
        padding-top: 29px

    &__text
        color: $white-bg

    &__amount
        color: $white-bg

    &__add
        padding-top: 33px
        padding-right: 29px

    &__item
        margin-bottom: 8px
        &:last-child
            margin-bottom: 0

    &__booking

    &__header
        color: $white-bg
        padding-left: 26px

    &__number
        padding-right: 45px

    &__icon
        width: 14px
        height: 14px
        margin-right: 10px

.button

    &__cta
        width: 295px
        height: 45px
        background: #EC1F46
        border-radius: 4px
        color: $white-bg

.map
    margin-top: 27px

.summary
    padding-top: 68px
    padding-bottom: 65px

    &__links
        width: 100%
        margin-bottom: 40px

    &__header
        margin-bottom: 29px

    &__wrapper
        width: 538px
        height: 200px
        background: #F5FAFE
        border-radius: 4px 4px 0px 0px

    &__highlight
        width: 538px
        height: 50px
        border-radius: 4px 4px 0px 0px
        background: $blue

    &__title
        color: white
        padding-left: 24px

    &__img
        margin-right: 21px

    &__items
        margin-top: 27px
        margin-left: 25px

    &__item
        margin-bottom: 22px

    &__img
        width: 15px
        height: 15px
    &__right
        padding-right: 35px

    &__text
        &-small
            width: 205px

    &__valid
        margin-top: 37px
        padding-left: 37px

.details
    width: 1110px
    height: 550px
    background: #F5FAFE
    border-radius: 8px
    margin-top: 22px

    position: relative

    &__header
        width: 1110px
        height: 50px
        background: $blue
        border-radius: 4px 4px 0px 0px

    &__title
        color: $white-bg
        padding-left: 24px

    &__heading
        color: $accent
        margin-top: 38px
        margin-bottom: 21px

    &__wrapper
        margin-left: 24px
        &-bottom
            padding-top: 40px

    &__border
        border-bottom: 1px dashed grey
        position: absolute
        width: 100%
        bottom: 170px
        left: 0



.offers
    padding-top: 105px
    padding-bottom: 70px

    &__title
        margin-bottom: 65px

    &__wrapper
        width: 364px
        height: 500px
        background: $blue
        border-radius: 0px 8px 8px 0px

    &__star
        margin-right: 2px

        &:last-child
            margin-right: 0px

    &__header
        color: $white-bg
        text-transform: capitalize
        margin-bottom: 27px

    &__text
        color: white
        width: 299px
        +rfs(14)
        line-height: 160.6%

    &__icon
        margin-bottom: 11px

        &:last-child
            margin-bottom: 0

    &__desc
        color: white

    &__img
        margin-right: 14px
        width: 14px
        height: 14px

    &__icons
        margin-top: 40px
        &__sm
            margin-top: 23px

    &__discount-price
        color: white
        margin-top: 37px

    &__price
        color: white
        margin-right: 92px

    &__cta
        width: 140px
        height: 40px
        background: #EC1F46
        border-radius: 4px
        color: $white-bg

    &__info
        padding-left: 25px
        padding-top: 46px


    &__small-block
        width: 350px
        height: 250px
        background: #0A223D
        border-radius: 0px 0px 8px 8px
        margin-top: -2px

    &__text-wrapper

        padding-left: 20px
        padding-top: 5px

    &__bottom-wrapper
        margin-top: 30px
